h3{
    color:#4E47FF ;
}
ul li{
  list-style:none;
}
.container{
  display: flex;
  justify-content: space-between; 
}
header{
    background-image: url(Assets/Hero-bg.png);  
}
.btn-primary{
  background-color: #4E47FF;
  border-radius: 10px;
  color:#FFFFFF;
  padding: 12px 36px;
  border: none;
}
.banner{
  text-align: center;
  font-size: 30px;
  
  
}
#id space{
  margin-top: -50px;
}
.banner h1 p{
  text-align: center;
 
}
.banner .btn-primary{
  margin-top:-50px;
}
.See-it h3{
  font-size: 42;
  font-weight:bold;
  color:black;  
}
.See-it p{
  font-size: 24;
  
}
.See-it{
  margin:0 auto;
  width: 1140px;
  display:flex;
  justify-content: space-between;
  margin-top: 70px;

}
.section-2 h3{
  font-size: 32;
  font-weight:bold ;
  color: black;
  text-align:center ;
}
.section-2{
  width:1140px;
  height :300px; ;
  margin:0 auto;
  margin-top: 70px;
  background-color:#F0F4FF;
  padding:60px 20px;

}
.section-2 h3{
  font-size: 38px;
  font-weight: bold;
}
.subtitle3{
  display: flex;
  justify-content: center;
  gap:50px;
}
.subtitle1 h3{

font-size: 70px;
font-weight: bold;
color:#4E47FF;
margin-top: -20px;
}
.subtitle1 p{
  margin-top: -80px;
}

.Feedback-section{
  margin:0 auto;
  width: 1140px;
  height: 342px;
 background-color:  #FFFFFF;

}
.re-section{
  display: flex;
  justify-content:space-between;
}
.feedback-title{
  text-align: center;
  font-size: 42;
  font-family: bold;
}
.re-image{
  border-radius: 30px;
}
.re1{
  display:flex;
  align-items:center;
  gap: 10px;
}
.getintouch-section {
  width: 1140px;
  height: 300px;
  margin:0 auto;
  background-color:white;
  padding:60px 20px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
 
  
}
.left-title{
  font-size: 50px;
  font-family: bold;
}
.btn-primary{
  cursor: pointer;
  transition: transform 0.3s ease;background-color: 0.5 ease;
}
.btn-primary:hover{
  transform: scale(1.1);
  background-color: yellow;

}
footer{
  text-align: center;
}
.logo h2{
  font-size: 100px;
  color:#4E47FF
}
.option{
  text-decoration: none;
  gap:20px
}
